{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "classes": true
    },
    "rules": {
        "no-mixed-spaces-and-tabs": 0,
        "no-console": 0,
        "curly": 0,
        "no-multi-spaces": 0,
        "strict": 0
    }
}
